*/.idea/*
*/gradle/*
*/build/*
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.4/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.4/executionHistory/executionHistory.bin
/.gradle/7.4/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/7.4/fileHashes/fileHashes.bin
/.gradle/7.4/fileHashes/fileHashes.lock
/.gradle/7.4/dependencies-accessors/gc.properties
/.gradle/7.4/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/gradle/**
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.idea/jarRepositories.xml
/.gradle/7.4/fileChanges/last-build.bin
/.idea/misc.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/**
/.idea/**

/build/resources/main/application.properties
/build/resources/main/application.yml
*.class
